.box-border {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

li.blog-box-content {
    list-style: none;
    background: #FFFFFF;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    max-width: 370px;
    height: 389px;
    padding: 20px;
    /*border: red solid 1px;*/
    position: relative;
}

.blog-box-author-meta {
    position: absolute;
    bottom: 20px;
}

.single-ox_glossary .blog-texts h3 {
    color: #1e144d;
    font-family: "Satoshi", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
}

.single-ox_glossary .box-blog-txt {
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #1e144d;
}

.single-ox_glossary a.box-post-read {
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #6a2bff;
    position: relative;
}

.single-ox_glossary a.box-post-read::after {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    background-image: url("../images/Arrow_22_px.svg");
    top: 0;
    right: -30px;
}

section.section-content.related-articles-glossary {
    margin-bottom: 120px;
    margin-top: 55px;
}

.single-ox_glossary h2.related-articles-title {
    font-family: "Satoshi", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: #292929;
}

section.section-content.faq-glossary h2 {
    font-family: "Satoshi", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
    color: #292929;
    margin-bottom: 25px;
}

section.section-content.faq-glossary p.question {
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #1e144d;
    border-bottom: 2px solid #f1edff;
    padding-bottom: 13px;
    margin-bottom: 10px;
}

section.section-content.faq-glossary p.answer {
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #1e144d;
}

section.section-content.faq-glossary p.question:after {
    content: url("../images/Plus.svg");
    font-size: 13px;
    color: red;
    float: right;
    margin-left: 5px;
}

section.section-content.faq-glossary .active p.question::after {
    content: url("../images/Close.svg");
}

section.section-content.faq-glossary p.answer {
    max-width: 820px;
    display: none;
    overflow: hidden;
}

section.section-content.faq-glossary .faq-item.active .answer {
    display: block;
}

section.section-content.faq-glossary .faq-item:hover {
    cursor: pointer;
}

.faq-list {
    max-width: 820px;
}

section.section-content.faq-glossary {
    padding-top: 7px;
}

section.section-content.related-links-glossary {
    max-width: 320px;
    background: #FFFFFF;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    height: fit-content;
}

.related-links-item {
    margin-bottom: 18px;
}

section.section-content.related-links-glossary h2 {
    font-family: "Satoshi", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
    color: #6a2bff;
}

section.section-content.related-links-glossary a {
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #292929;
}

.glossary-main-content {
    display: grid;
    grid-template-columns: 820px 320px;
    justify-content: center;
    gap: 30px;
}

section.section-content.content-glossary h1 {
    font-family: "Satoshi", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 68px;
    color: #292929;
    margin-bottom: 10px;
}

section.section-content.content-glossary h2 {
    font-family: "Satoshi", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
    color: #292929;
}

section.section-content.content-glossary p {
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #292929;
}

.single-ox_glossary div#ez-toc-container {
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: white;
    border: 1px solid #CAB9FF;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding:15px;
}

.single-ox_glossary div#ez-toc-container p.ez-toc-title {
    font-family: "Satoshi", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
    color: #6a2bff;
}

.single-ox_glossary .ez-toc-title-container {
    margin-bottom: 16px;
}

.single-ox_glossary ul.ez-toc-list.ez-toc-list-level-1  {
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #292929;
}

.single-ox_glossary ul.ez-toc-list-level-2 {
    font-weight: 400;
}

#ez-toc-container.counter-hierarchy ul,
.ez-toc-widget-container.counter-hierarchy ul,
#ez-toc-container ul,
.ez-toc-widget-container ul {
    counter-reset: unset !important;
}

#ez-toc-container ul.ez-toc-list li a::before,
.ez-toc-widget-container ul.ez-toc-list li a::before {
    content: "" !important;
}

@media screen and (max-width: 1024px) {
    .glossary-main-content,
    .box-border{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    section.section-content.content-glossary h1 {
        font-size: 40px;
        line-height: 54px;
    }
}

@media screen and (max-width: 1204px) {
    section.section-content.related-links-glossary {
        max-width: 964px;
    }

    .glossary-main-content {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    section.section-content {
        padding-inline: 30px;
    }
}